# Database Configuration
DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=    
DB_PORT=3306

DATABASE_URL=

# Backup DB
DB_BACKUP_LOCAL_DIR=./storage/backup
DB_BACKUP_REMOTE=rclone_remote_name
DB_BACKUP_REMOTE_DIR=remote_folder_path


# Server Configuration
PORT=3000
NODE_ENV=development

# Auth
AUTH_JWT_SECRET=

# Send email
MAIL_FROM_ADDRESS=
GOOGLE_APP_PASSWORD=

# SOKETI
SOKETI_APP_ID=
SOKETI_APP_KEY=
SOKETI_APP_SECRET=